* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    position: absolute;
    right: 0;
    left: 0;
    /* z-index: 100; */
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline: -10px;
}

.section-title {
    padding-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
}

section {
    padding: 70px 0;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.navbar .nav-logo {
    padding: 20px 0;
    padding-inline: 10px;
    width: 200px;
}

.navbar .navbar-nav {
    display: flex;
}

.navbar .navbar-nav .nav-item {
    display: block;
    padding-inline: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #f1f1f1;
    letter-spacing: 0.12em;
    font-weight: 500;
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    color: transparent;
    background-clip: text;
}

/* ======================================================= */

.hero-area {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.2),
            rgba(255, 238, 0, 0.1),
            rgba(0, 0, 0, 0.2)
        ),
        url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-area [class*="hero-"] {
    color: #f1f1f1;
    text-align: center;
    margin-block: 15px;
}

.hero-area .hero-italic {
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
}

.hero-area .hero-heading {
    color: transparent;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    background-clip: text;
    font-size: 56px;
}

.hero-area .hero-btn {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #ffc800;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.hero-area .hero-btn:hover {
    background-color: #5bb68c;
    cursor: not-allowed;
}

/* ====================================== */

[class*="col-"] {
    margin-bottom: 20px;
    padding-inline: 10px;
}

.col-4 {
    width: calc(100% / 3);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

h3 {
    font-size: 22px;
}

p {
    line-height: 1.5em;
    font-weight: 500;
    color: rgb(90, 90, 90);
}

.services-area .service-card {
    text-align: center;
}

.services-area .service-card-icon {
    display: inline-block;
    width: 90px;
    height: 90px;
    font-size: 45px;
    color: #f1f1f1;
    align-content: center;
    background-color: #ffc800;
    border-radius: 50%;
}

.services-area .service-card h3 {
    margin: 10px;
}
/* ============================================ */

.portfolio-area {
    background-color: rgb(247, 247, 247);
}

.portfolio-area .portfolio-card {
    overflow: hidden;
    background-color: #ffffff;
}

.portfolio-area .portfolio-card .portfolio-card-thumnial {
    transition: 0.3s;
}
.portfolio-area .portfolio-card .portfolio-card-thumnial:hover {
    transform: scale(1.1);
}

.portfolio-card .portfolio-card-body {
    padding: 20px;
    text-align: center;
}

/* ======================================================= */

[class*="footer-"] {
    padding: 20px 10px;
}

/* =============== I'M A CHILL GUY ===============*/

.footer-left strong {
    color: transparent;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    background-clip: text;
}

/* =============== I'M A CHILL GUY ===============*/

.footer-center span {
    margin: 0 5px;
    display: inline-block;
    background-color: rgb(48, 48, 48);
    color: #f1f1f1;
    font-size: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
}

.footer-right span {
    padding-left: 10px;
}

/* ==================== dak lg te ===================== */

.dak-lg-te {
    background-color: rgb(247, 247, 247);
}

[class*="news-"] {
    height: 400px;
}

.new_content {
    display: flex;
    box-shadow: 0 0 8px #d3d3d3, 0 0 8px #ededed;
}

.news-image {
    width: calc(50% + 15px);
    background-image: url(../img/IISc-grant_card_hz_tab_364x362.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.news-detail {
    width: calc(50% - 5px);
}

.card {
    height: 400px;
    background-color: rgb(43, 127, 255);
    box-shadow: 0 0 8px #d3d3d3, 0 0 8px #ededed;
}

.gradient-content {
    box-shadow: 0 0 8px #d3d3d3, 0 0 8px #ededed;
    height: 400px;
    display: flex;
    background: linear-gradient(
            to right,
            rgb(254, 154, 0),
            rgb(246, 51, 154),
            transparent
        ),
        url(../img/aside-right.jpg) right / 50% 100%;
}

.gradient-caption {
    padding-inline: 80px;
    width: 65%;
    align-content: center;
    overflow: hidden;
}

.gradient-caption p {
    border-left: 1px solid #f1f1f1;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #f1f1f1;
    line-height: 1.5em;
}
