/* :root{
    --color-bg: #67e8f9;
    --header-color : #1e1b4b;
    --text-color : oklch(87.9% 0.169 91.605);
    --box-bg : #44403c ;
    --btn-bg: #dc2626;
} */

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --box-bg : #44403c ;
  --border-color : black;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --text-color : white;
  --box-bg : #e3d6ca ;
  --header-color:white;
  --border-color : white;
}





body{
    background-color: var(--color-bg);
}
h2{
    color: var(--header-color);
}
p{
    color: var(--text-color);
}

.box{
    width: 400px;
    height: 300px;
    background-color: var(--box-bg);
    border-radius: 10px;
}

[data-theme="light"] .btn{
    margin: 30px 50px;
    padding: 10px 40px;
    background-color: var(--btn-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

[data-theme="dark"] .btn{
    margin: 30px 50px;
    padding: 10px 40px;
    background-color: var(--btn-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}