*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-top{
    background-color: #F8F8F8;
}
.top-bar-item{
    font-size: 14px;
}
.swiper{
    width: 250px;
    height: 20px;
    /* background-color: aqua; */
}
.nav-bot{
    background-color: rgb(44, 44, 44);
    height: 45px;
}
.nav-bot .nav-item .nav-link{
    color: rgb(171, 171, 171);
}